@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.titleStyle {
    color: aliceblue;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-size: 150px;
    font-weight: 300;
    text-align: center;
    display:block;
    padding-top: 150px;
    padding-bottom: 0px;  
}

.aboutTitleStyle {
    color: aliceblue;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    background-color: #221f26;
    font-size: 120px;
    font-weight: 300;
    text-align: center;
    display:block;
    padding-top: 100px;
    padding-bottom: 0px;  
}

.ourMissionStyle {
    color: aliceblue;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-size: 90px;
    font-weight: 300;
    text-align: left;
    display:block;
    padding-top: 70px;
    padding-left: 50px;
    padding-bottom: 0px;  
}


.paragraphContent {
    text-align: center;
    background-color: #221f26;
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 100px;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 25px;
}

.textContent2 {
    text-align: left;
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 50px;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    letter-spacing: 4px;
    line-height: 40px;
    font-weight: 200;
    font-size: 25px;
}

.comingSoonRegular {
    position: relative;
    top: -15px;
    letter-spacing: 4px;
    color:aliceblue;
    text-align: center;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-weight: 200;
    font-size: 22px;
    padding-top: -10px;
}  

.button_1 {
    border: none;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px 14px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #2e2e37;
    border: 2px solid aliceblue;
}

.button_1:hover {
    background-color: aliceblue;
    color: #2e2e37;
}

.left_button {
    padding: 16px 32px;
    position: relative;
    left: 525px;
    top: 20px;
}

.right_button {
    padding: 16px 46px;
    position: relative;
    left: 575px;
    top: 20px;  
}
